<ion-header>
  <ion-toolbar>
    <ion-title>
      Saiba Mais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/Caixafortlev-760x374.png" alt="">

  <ion-item>
    <div style=" text-indent: 1.5em;" class="the-content single span8 group"><p style="text-align: left;">A água é um elemento essencial para a manutenção da vida, da saúde e do bem-estar das pessoas. Faltar água em casa é um transtorno muito grande para todos, por isso a caixa d´água é um elemento importantíssimo a ser pensado e planejado durante a obra. A caixa é importante não só por armazenar a água e garantir sua utilização durante a escassez, mas também por preservar e proteger esta contra resíduos indesejáveis.<span id="more-2658"></span></p>
      <p style="text-align: left;"> Para escolher com segurança o tamanho ideal de caixa d´água para sua casa, em geral é utilizado o cálculo de 150 litros/dia por morador. Por exemplo, uma família com 4 moradores deve considerar uma caixa d´água de no mínimo 600 litros. Mas isso é somente uma base mínima, pois é preciso considerar eventuais falhas no abastecimento de água em sua região e portanto o recomendado é comprar sempre maior que o necessário, garantindo ao menos dois dias de utilização. Já em locais em que é muito comum o desabastecimento, pode ser necessário garantir até 3 ou 4 dias de água.</p>
      <p style="text-align: left;">Mesmo com reservatório de grande capacidade, é fundamental a economia de água não só durante os eventuais cortes no fornecimento, mas sempre. Evite água com pressão exagerada, chuveiros com muita vazão, torneiras pingando e lavar calçada diariamente.&nbsp; Ao controlar o consumo exagerado, você pode optar por uma caixa adequada, de tamanho suficiente e com um custo que caiba no seu bolso.</p>
     <span> Fonte: http://santarita.com.br</span>

     </div>

    </ion-item>
 
</ion-content>
